/* borders */

.border-0-25 {
  border-width: 1px;
}

.border-gray-300 {
  border-style: solid;
  border-color: var(--gray-300);
}

/* shadow */
.shadow-light-day {
  box-shadow: 0px 4px 8px 0px rgba(4, 5, 12, 0.1);
}

/* others */

.after-pipe::after {
  content: "|";
  padding: 0 8px;
}

.before-pipe::before {
  content: "|";
  padding-right: 8px;
  color: var(--gray-300);
}

/* overflows */

.overflow-hidden {
    overflow-x: hidden;
}