/* sizes */

.text-base {
  font-size: 16px;
}

.text-2xl {
  font-size: 24px;
}

.text-sm {
  font-size: 14px;
}

/* colors */

.text-black {
  color: var(--black);
}

.text-blue-100 {
  color: var(--blue-100);
}

.text-green-100 {
  color: var(--green-100);
}

.text-orange-200 {
  color: var(--orange-200);
}

.text-gray-100 {
  color: var(--gray-100);
}

.text-gray-200 {
  color: var(--gray-200);
}

.text-gray-300 {
  color: var(--gray-300);
}

.text-gray-400 {
  color: var(--gray-400);
}

.text-gray-500 {
  color: var(--gray-500);
}

.text-gray-600 {
  color: var(--gray-600);
}

/* styles */

.italic {
  font-style: italic;
}

/* weights */

.font-normal {
  font-weight: 400;
}

.font-medium {
  font-weight: 500;
}

.font-semibold {
  font-weight: 600;
}

.font-bold {
  font-weight: 700;
}

/* text wraps */

.text-nowrap {
  text-wrap: nowrap;
}
